{% extends 'MiApp/index.html' %}

{% load static %}

{% block codigoDinamico %}
<center>
    <h1>Acerca  De Mi</h1>
    
    <P style="font-size:110%;">
        Soy un apasionado en la tecnología y los sistemas.
Cuento con más de 5 años de experiencia en educación y tecnología
Soy Tecnico Superior en Analisis de Sistemas, Ademas soy docente titulado y me
desempeño en la areas Informatica , Administracion de Bases de Datos y Programacion.
En los nivelas primaria el cual llevo 2 años trabajando con niños y Formacion Laboral desde hace 5 años.
Este año me capacite en CoderHouse en los cursos de Python, Java, Testing QA Manual y SQL.
Este Sitio Web es parte del proyecto final para el curso de Python 
Esta web tendrá admin, perfiles, registro, páginas y formularios.

Este proyecto no utiliza Python puro sino Python con Django para desarrollo web. 
Y la magia de HTML5 Y CSS3 combinado de las plantillas de Bootstrap nos facilitan el diseño FrontEnd de este proyecto.
Este proyecto esta basado en mi trabajo actual como instructor de un centro de formacion laboral.
    </P>
    </DIV>
    </center>
    
    </div> 
    </div> 
    </div>
{% endblock  %}